* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --mint: #EFFAF1;
    --green: #335C67;
    --blue: #006ED4;
    --black: #231B1D;
  }
  
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
  }
  
  img {
    max-width: 100%;
  }

















  /*nav start/*


































































































  /*nav slut/*
  /*forside start/*






































































































































































































  /*forside slut/*
  /*boder start/*








































































































































































































  /*boder slut/*
   /*tivoli start/*


































































































  /*tivoli slut/*
   /*juletræstænding med julemanden start/*


































































































  /*juletræstænding med julemanden slut/*
   /*julelystænding start/*


































































































  /*julelystænding slut/*
   /*historie start/*


































































































  /*historie slut/*
   /*det sker også i aalborg start/*


































































































  /*det sker også i aalborg slut/*