* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --mint: #EFFAF1;
    --green: #335C67;
    --blue: #006ED4;
    --black: #231B1D;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mint);
    color: var(--black);
    font-size: 18px;
  }
  
  p {
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
  }
  
  .site-width {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem; /* 1.5 * 18px = 27px */
  }
















  /*nav start/*


































































































  /*nav slut/*
  /*forside start/*


































































































  /*forside slut/*
   /*boder start/*


































































































  /*boder slut/*
   /*tivoli start/*


































































































  /*tivoli slut/*
   /*juletræstænding med julemanden start/*


































































































  /*juletræstænding med julemanden slut/*
   /*julelystænding start/*


































































































  /*julelystænding slut/*
   /*historie start/*


































































































  /*historie slut/*
   /*det sker også i aalborg start/*


































































































  /*det sker også i aalborg slut/*